<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>카드를 만들기 위해 카메라 접근 권한을 허용해주세요.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>현재 위치를 기록하기 위해 위치 접근 권한을 허용해주세요</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>카드 이미지를 앨범에 저장하기 위해 권한을 허용해주세요.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>비밀 카드를 보기 위해 Face ID 인증이 필요해요</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>카드를 만들기 위해 사진 라이브러리 접근 권한을 허용해주세요.</string>
	<key>UIAppFonts</key>
	<array>
		<string>GalmuriMono11.ttf</string>
		<string>Galmuri11-Bold.ttf</string>
		<string>Galmuri14.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
